<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0">

    <title>Admin Login</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='css/admin.css') }}">

</head>
<body>

<div class="login-page">

    <div class="login-box">

        <h1>Admin Login</h1>

        <form method="POST">

            <input
            type="text"
            name="username"
            placeholder="Username"
            required>

            <input
            type="password"
            name="password"
            placeholder="Password"
            required>

            <button type="submit">

                Login

            </button>

        </form>

        {% if error %}

        <p class="error">

            {{ error }}

        </p>

        {% endif %}

    </div>

</div>

</body>
</html>
